html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.is-openModal body {
  overflow: hidden;
  touch-action: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
}

img {
  border-style: none;
  vertical-align: bottom;
}

img, video {
  max-width: 100%;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-search-decoration {
  display: none;
}
input:focus {
  outline-offset: -2px;
}

select::-ms-expand {
  display: none;
}
select::-webkit-search-decoration {
  display: none;
}
select:focus {
  outline-offset: -2px;
}

button {
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

textarea {
  resize: none;
}
textarea::-webkit-search-decoration {
  display: none;
}
textarea:focus {
  outline-offset: -2px;
}